.noscroll { position: fixed; overflow: hidden }

html, body {overscroll-behavior: contain; height: 100%; width: 100%;}

/*iframe {
    height: 300px;
    width: 300px;
    resize: both;
    overflow: auto;
  }*/